<!--Projects-->
<section id="projects" class="container section">

  <div class="portfolio-cards">
    {{ $author := "regis@doseextra.com"}}
    {{ range $.Site.Data }}

    {{ range .channel.item }}
    {{ if eq .author $author }}

    <div class="row project-card" data-toggle="modal" data-target="#portfolioModal" data-portfolio-tag="web-sites">
      <div class="col-md-6 col-lg-5 project-card__img">
        <img class="" src="{{ .thumbnail.url }}" alt="{{ .title }}">
      </div>
      <div class="col-md-6 col-lg-7 project-card__info">
        <h3 class="project-card__title">{{ .title }}</h3>
        <p class="project-card__description">{{ .description }}</p>
        <a ref="nofollow" href="{{ .link }}" target="_blank" class="project-card__link">Ler mais</a>
      </div>
    </div>

    {{ end }}
    {{ end }}
    {{ end }}

  </div>
</section>
<!--Portfolio-->
